<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <!-- Android 11+ 管理所有文件 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- Android 13+ 图片/媒体访问 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="QuickDaily"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickDaily">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NoteEditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.QuickDaily.Transparent"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:launchMode="singleInstance" />

        <receiver
            android:name=".QuickDailyWidget"
            android:exported="false"
            android:label="桌面便签">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quickdaily_widget_info" />
        </receiver>

        <receiver
            android:name=".QuickNoteWidget"
            android:exported="false"
            android:label="快速添加">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quicknote_widget_info" />
        </receiver>
    </application>

</manifest>
